[submodule "ProfessionalTranslation"]
	path = plugins/neno/professional
	url = https://github.com/Jensen-Technologies/professional-translation-plugin.git
[submodule "plugins/neno/professional"]
	path = plugins/neno/professional
	url = https://github.com/Jensen-Technologies/professional-translation-plugin.git
